body {
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.card_produtos {
    width: 80%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    padding: 30px;
    background-color: white;
    box-shadow:
    inset 0 -3em 3em rgba(240, 240, 240, 0.3),
    0.3em 0.3em 1em rgba(24, 0, 24, 0.6);
    border-radius: 35px;
}

.card_produtos img {
    width: 300px;
    }

ul {
    list-style-type: none;
    font-size: 18px;
    color: #333;
}

ul li {
    margin-bottom: 10px;
    background-color: #d8d8d8;
    padding: 10px;
}

ul strong {
    color: rgb(26, 0, 115);
}

ul li::marker {
    color: #007BFF;
    font-weight: bold;
}

.display_produto {
    display: flex;
    align-items: center;
}

.rodape {
    background-color: var(--card-foreground);
    color: var(--card);
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.rodape p {
    margin: 0;
}

.titulo_produtos {
 display: flex;
}


/* botão favoritos */
.heart-container {
    --heart-color: rgb(255, 91, 137);
    position: relative;
    width: 50px;
    height: 50px;
    transition: .3s;
  }
  
  .heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heart-container .svg-outline,
          .heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
  }
  
  .heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
  }
  
  .heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
  }
  
  @keyframes keyframes-svg-filled {
    0% {
      transform: scale(0);
    }
  
    25% {
      transform: scale(1.2);
    }
  
    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }
  
  @keyframes keyframes-svg-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      filter: brightness(1.5);
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
      display: none;
    }
  }